:root
{
    --letraColor:rgb(62, 189, 240);
    --gris:rgb(230, 230, 230);
    --input: 2rem
}
html
{
    background-color: #03a9f4;
    text-align: center;
}

main{
    background-color: white;
    margin: auto;
    max-width: 90%;
    border-radius: 5px;
}

.parte1{
    text-align: start;
    display: flex;
    margin: 1.5rem;
    padding: .5rem;
}

.superiorparte select
{
    background-color: transparent;
    margin-top: 2rem;
    border: none;
    cursor: inherit;
    color: var(--letraColor);
}

#formulario{
    margin: auto;
    width: 95%;
    display: grid;
    text-align: start;
}

.nombre{
    display: grid;
    gap: 1rem;
    margin-bottom: 1rem;
}

.email{
    display: grid;
    gap: 1rem;
    margin-bottom: 1rem;
}

.sexo{
    display: grid;
    margin-bottom: 1rem;
    align-items: center;
}

.fechas{
    margin-bottom: 1rem;

}

.contraseña{
    margin-bottom: 1rem;
    display: grid;
    gap: 1rem;
}
.numeroTelefono{
    display: grid;
}

@media (min-width:800px) {
    main{
        width: 80%;
    }

    #Formulario1{
        width: 80%;
        margin: auto;
    }

    .parte1 select{
        position: relative;
        left: 4rem;
    }

    .nombre{
        display: flex;
    }
}

@media (min-width:1100px) {
    main{
        width: 50%;
        margin-bottom: 2rem;
    }
}
